*.log
.htaccess
sitemap.xml
sitemap.xml.gz
config/*-local.php
#wp-config.php
#wp-config.php*
.idea/
assets/advanced-cache.php
assets/backup-db/
assets/backups/
assets/blogs.dir/
assets/cache/
assets/upgrade/
assets/uploads/
assets/wp-cache-config.php
pdf/*.pdf
google1a7882cf4b61e535.html
robots.txt

##################################
# W3 Total Cache untracked files #
##################################
assets/advanced-cache.php
assets/db.php
assets/object-cache.php
assets/cache/
#assets/plugins/w3-total-cache/
assets/w3tc-config/
