packages:
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
  yum:
    newrelic-php5: []
 
commands:
  install_newrelic:
    command: "newrelic-install install"
    leader_only: true
    ignoreErrors: true
  license_newrelic:
    command: "sed -i 's/REPLACE_WITH_REAL_KEY/7fe0a1a15f1f05b1b3ac0b086f5f3fbdfadd966e/g' /etc/php.d/newrelic.ini"
    leader_only: true
    ignoreErrors: true