hr {  border-top: 1px solid #cdcdcd;}
.btn.body-content {
    border: 2px solid #a1a3a3;
    -moz-border-radius: 19px / 19px 19px 20px 20px;
    -webkit-border-radius: 19px / 19px 19px 20px 20px;
    border-radius: 19px / 19px 19px 20px 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: transparent;
    padding: 6px 24px;
    text-transform: uppercase;
    font-weight: 400;
    color: #8e8e8e;
    font-size: 13px;
}
.btn.body-content:hover {
    background: #d19f42;
    border-color: #d19f42;
    color: #fff;
}

header,navbar-fixed-top {
    position: relative;
}
.navbar-default .navbar-brand {text-indent: -99999px; display: none;}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand {display: block;}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand img {
    width: 60%;
    margin-top: -11px;
}
.navbar-fixed-top {top:auto;}
.navbar-right {width: 100%}
.navbar-fixed-top.navbar-shrink {top:0;}
.navbar-fixed-top.navbar-shrink .navbar-right {width: auto; margin-top: 8px;}
.navbar-default.navbar-shrink .nav li a {padding: 10px;}
.navbar-default.navbar-shrink .nav li.active a {
    background: transparent;
    color: #d19f42;
}
.navbar-default.navbar-shrink .nav li a:hover,
.navbar-default.navbar-shrink .nav li a:focus {
    background-color: transparent;
    color: #d19f42;
}
.navbar-default .sub-phone {display: none;}

a.sub-phone {
    position: relative;
    margin: 20px 0 20px 30px;
    display: inline-block;
    color: #555b65;
    font-size: 16px;
    font-weight: 600;
}

.icon-phone {
    position: absolute;
    font-size: 30px;
    left:-34px;
    background: url(/assets/images/group-icons.png) no-repeat 0 -144px;
    width: 24px;
    height: 24px;
}
.icon-search {background-position: 0 -78px; top: 4px;}

.navbar-default.navbar-shrink .sub-phone {display: block; margin: 0; font-size: 13px;  padding-left: 8px !important;}
.navbar-default.navbar-shrink .sub-phone .icon-phone {left:-20px; top:7px; background-position: -216px -144px;}
.navbar-default.navbar-shrink .phone-text {padding-left: 25px;}
.navbar-default.navbar-shrink .phone-text:hover a {background: transparent}

#blog h3, .webuy h2 {color: #fff;}
#myRoundabout {width: 500px; height: 250px; padding-left: 100px; margin-left: 30%; margin-top: 102px;}
#myRoundabout ul, #myRoundabout li {list-style-type: none;}

.roundabout-moveable-item {
    height: 460px;
    width: 460px;
    cursor: pointer;
    background-color: #091126;
    border: 1px solid #fff;
    border-radius: 230px;
    color: #fff;
}
.roundabout-in-focus { cursor: auto; }

.blog-latest {
    overflow: hidden;
    padding-bottom: 60px;
}
.no-side-padding {
    padding-right: 0;
    padding-left: 0;
}

.services {padding-top: 120px; padding-bottom: 80px;}
.services h3 {text-transform: none; font-weight: 300; font-size: 26px; color: #303030;}
.fa.icon-best, .fa.icon-trust, .fa.icon-fast, .fa.icon-snow {background: url(/assets/images/group-icons.png) no-repeat; width: 90px; height: 90px;}
.fa.icon-best {background-position: 0 0; }
.fa.icon-trust {background-position: -274px 0; }
.fa.icon-fast {background-position: -539px 0; }
.fa.icon-snow {background-position: -539px -166px;width: 51px; height: 54px;}

body h2 {
    font-weight: 900;
    font-size: 26px;

}



#whatwebuy h2 {
    margin-top: 0;
}
#whatwebuy h5 {
    text-transform: none;
    font-weight: 600;

}
#whatwebuy .nav.nav-tabs li {float: none; text-align: right;}
#whatwebuy .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    color: #525252;
    text-transform: uppercase;
    display: inline-block;
    padding: 6px 0;
    font-weight: 600;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}
#whatwebuy .nav-tabs>li:hover>a {background-color: transparent; color: #d19f42;}

#whatwebuy .nav-tabs>li.active>a,
#whatwebuy .nav-tabs>li.active>a:focus,
#whatwebuy .nav-tabs>li.active>a:hover {
    color: #d19f42 !important;
    background-color: transparent;
    border: transparent;
}
#whatwebuy .nav-tabs {
    border:none;
}
#whatwebuy .nav-tabs>li>a.first {
    border-top: solid 1px #ddd !important;
}
#whatwebuy .nav-tabs>li>a.last {
    border-bottom: solid 1px #ddd  !important;
}

.viewall {background: url(/assets/images/icon-view.png) right 2px no-repeat; padding-right: 20px; color: #7b7b7b; font-size: 13px; float: right; line-height: 1; margin-top: 15px;}
.viewall:hover {background-position: right -11px;}

.bg-diamond {
    background: url(/assets/images/diamond.png) no-repeat;
}
.webuy {
    color: #fff;
    background-attachment: scroll;
    background-image: url(/assets/images/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-size: 14px;
    font-weight: 300;
    padding: 80px 0;
}

.webuy ul {padding: 10px 0;}
.webuy li {
    background: url(/assets/images/group-icons.png) 0 -220px no-repeat;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.webuy .btn.body-content {color: #fff; border-color: #fff;}
.webuy .btn.body-content:hover {border-color: #d19f42;}

.section hr, section hr { width: 50px;}

#howwepay .nav-tabs {background: #2b3042; margin-top: 30px; border-bottom: none;}
#howwepay .nav-tabs>li {margin-bottom: 0; border-right: solid 1px #454a5e;}
#howwepay .nav-tabs>li.active, #howwepay .nav-tabs>li:last-child {border-right: none;}
#howwepay .nav-tabs>li>a {font-size: 18px; color: #7b7d87; border: none; padding:30px 60px; font-weight: normal;}
#howwepay .nav-tabs>li:hover >a {color: #d19f42; background: none; border-radius:0;}
#howwepay .nav-tabs>li.active>a,
#howwepay .nav-tabs>li.active>a:focus,
#howwepay .nav-tabs>li.active>a:hover {
    border-radius: 0;
    color: #fff;
    background: #d19f42;
    border: none;
}
#howwepay .table {margin-bottom: 0; font-weight: 300;}
#howwepay .table>thead>tr>th {font-size: 16px; padding: 20px 60px; background: #fafafa; border-bottom: none;  }
#howwepay .table>tbody>tr>td {border-top: none; padding:15px 60px; border-right: solid 1px #e4e4e4;}
#howwepay .table>tbody>tr>td:last-child {border-right: none;}
#howwepay .table-striped>tbody>tr {background-color: #f9f9f9;}
#howwepay .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
#howwepay .table-striped>tbody>tr:hover {background-color: #fafafa;}
.tfoot-tbl {padding: 20px 60px; background: #fafafa; margin: 0;font-weight: 300; font-size: 13px;}

#howwepay .fa {background: url(/assets/images/group-icons.png) no-repeat; width: 28px; height: 18px;}
#howwepay .fa.btn1 {background-position: 0 -326px;}
#howwepay .fa.btn2 {background-position: 0 -592px; margin-right: 10px;}
#howwepay .btn.body-content:hover .fa.btn1 {background-position: 0 -846px;}
#howwepay .btn.body-content:hover .fa.btn2 {background-position: 0 -932px;}

#blog {padding: 60px 0 0;}
#blog h2 {color: #fff;}
.bg-blue-dark {
    color: #fff;
    background-attachment: scroll;
    background-image: url(/assets/images/bg-blog.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    height: 442px;
}
.bg-blue-dark .container {position: relative; }
.bg-blue-dark .title {position: absolute; width: 100%; z-index: 1000; padding: 20px 0;}

.sphere-content {
    width: 75%;
    height: auto;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

#team {padding-bottom: 60px; padding-top: 80px;}
#team .img-responsive {max-width: 100px;}
#team hr, .webuy hr {margin-left:0;}
#team blockquote {font-size: 14px; line-height:  1.75; border-left: none; background: url(/assets/images/icon-blockquote.png) top left no-repeat;}
#team h3 {color: #b7b7b7; text-transform: none; font-size: 20px; font-weight: 700;}
#team .btn.body-content {font-size: 12px; text-transform: none; font-weight: 300; border-width: 1px; padding: 5px 20px;}

.carousel-indicators {bottom:0;}
.carousel-indicators li {background-color: #f0ece0; border: none;}
.carousel-indicators li.active {background-color: #d9d0b1;}

.bg-deal {
    color: #fff;
    background-attachment: scroll;
    background-image: url(/assets/images/bg-contact.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-size: 14px;
    font-weight: 300;
    padding: 60px 0;
}
.bg-deal p.help-block.text-danger {color: red !important;}

.bg-deal h2 {margin: 0; color: #fff;}
.bg-deal p {color: #acacac; font-size: 13px;}
.btn.btn-yellow {
    background: #d19f42;
    text-transform: uppercase;
    font-weight: 600;
    padding:  10px 20px;
}
.btn.btn-yellow:hover {color:#fff;}
.bg-deal .form-control {
    background: #3c4c5f;
    padding: 10px 20px;
    border: none;
    height: 43px;
}
.bg-deal #contactForm [class^="col-"] {padding-right: 1px; padding-left: 1px;}

.small-screen {display:none;}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: portrait) {
    .col-md-6 { width: 50%;float: left;}
    .navbar-default .nav li a {padding: 25px 22px;}
    .navbar-default.navbar-shrink .nav li a { padding: 10px 11px;}
    header .intro-text {background:none; padding-bottom:100px;}
    .services {padding:80px 0;}
    .services .col-md-4 {margin-bottom:20px;}
    body h2 { font-weight: 600;  font-size: 22px;}
    #whatwebuy .nav-tabs>li>a {font-size:14px;}
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover {
        width:100%;
        height: 100%;
        border-radius:0;
        left:0;
        top:0;
    }
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover .whatwebuy-hover-content {top: 12%;}
    #whatwebuy .icon-next {margin-right:0;}
    .bg-diamond {background: none;}
    #howwepay .nav-tabs>li>a {padding:20px 22px;}
    .roundabout-moveable-item {width:320px; height:320px;}
    #myRoundabout {margin-left: 124px;  margin-top: 142px;}
    .sphere-content {padding-top:25px;}
    .sphere-content h3 {font-size: 18px;}
    .sphere-content p {font-size:13px;}
    .sphere-content .btn.body-content {margin-top:-39px; font-size:11px;}
    #team .col-xs-12 {width: 50%;}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: landscape) {
    #myRoundabout {margin-left: 25%;}
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover {
        width:150px;
        height: 150px;
        border-radius:120px;
        left:20%;
        top:0;
    }
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover .whatwebuy-hover-content {top: 20%;}
}
@media  only screen and (max-width: 767px)  {
    header .intro-text {padding-top: 30px;  background: none;}
    header {padding-bottom:30px;}
    header .col-md-6 { width: 50%;float: left;}
    header .intro-text .intro-lead-in {font-weight: 100; text-transform: uppercase;font-size: 38px;  margin-bottom: 10px;}
    header .intro-text .intro-heading {font-size: 44px; line-height:1;}
    .services .col-md-4 {margin-bottom:20px;}
    #whatwebuy .col-sm-4 { width: 33.33333333%; float:left;}
    #whatwebuy .pull-right { float: left!important;  margin-left: 15px;}
    #whatwebuy .nav.nav-tabs li { float: left;  text-align: right;  margin-right: 30px;}
    #whatwebuy .nav-tabs {float:left;}
    #whatwebuy .col-sm-9 {clear: both;}
    #whatwebuy h2 {  margin-top: 0;  text-align: center;  margin-bottom: 20px;}
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover {
        width:120px;
        height: 120px;
        border-radius:100px;
        left:20%;
        top:0;
    }
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover .whatwebuy-hover-content {top: 20%;}
    #whatwebuy .icon-next {margin-right: 10px;}
    .bg-diamond {background: none;}
    #howwepay .col-md-6 { width: 50%;float: left;}
    #howwepay .nav-tabs>li>a {font-size:15px; padding:10px;}
    #howwepay .table>thead>tr>th, #howwepay .table>tbody>tr>td {font-size: 14px;  padding: 10px;}
    .small-screen {display:block;}
    #myRoundabout {display:none;}
    #contact .col-sm-5.col-md-6 {clear:both;}
    #contact .col-sm-5.col-md-6 .col-md-5, #contact .col-sm-5.col-md-6 .col-md-7 {width: 50%; float:left;}
    section#contact #contactForm .col-md-6:first-child {padding-right: 15px;}
    section#contact #contactForm .col-md-6:last-child {  padding-left: 15px;}
    #team .col-xs-12 {width: 50%;}
    .navbar-header.page-scroll {border-bottom: solid 1px #ddd;}
}
@media only screen and (max-width: 991px) and  (orientation: landscape)  {
    header .col-md-6 { width: 50%;float: left;}
    .navbar-default.navbar-shrink .nav li a { padding: 10px;}
    header .intro-text {padding-bottom: 205px;  background-position:-28px bottom;}
    .navbar-right  {margin-right:0;}
    .services .col-md-4 {margin-bottom:20px;}
    #whatwebuy h2 {font-size: 23px;}
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover {
        width:100%;
        height: 100%;
        border-radius:0;
        left:0;
    }
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover .whatwebuy-hover-content {top: 12%;}
    .bg-diamond {background: none;}
    #howwepay .nav-tabs>li>a {padding: 20px;}
    #myRoundabout {margin-left: 100px;}
    #team .col-xs-12 {width: 50%;}
    #contact .col-sm-5.col-md-6 {clear:both; width: 100%;}
    #contact .col-sm-5.col-md-6 .col-md-5, #contact .col-sm-5.col-md-6 .col-md-7 {width: 50%; float:left;}
    section#contact #contactForm .col-md-6:first-child {padding-right: 15px;}
    section#contact #contactForm .col-md-6:last-child {  padding-left: 15px;}
}

@media  only screen and (max-width: 768px)   and  (orientation: landscape) {
    header .intro-text {padding-top: 54px;}
    #howwepay .col-sm-5, footer .col-md-6 {width: 50%;}
    footer .col-md-6 {float: left;}

}

@media only screen and (max-width: 480px)  {
    #howwepay .nav-tabs>li>a {font-size: 12px;  padding: 5px;}
    #team .col-xs-12 {width: 100%;}
    header .intro-text .intro-lead-in {font-size:28px;  margin-bottom: 10px;font-weight: 100;}
    header .intro-text .intro-heading {font-size: 32px; line-height:1;}
    header .phone-banner {  font-size: 22px;}
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover {
        width:100%;
        height: 100%;
        border-radius:0;
        left:0;
    }
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover .whatwebuy-hover-content {top: 12%;}
    #whatwebuy span.mb20 {margin-bottom:10px !important};

}

@media only screen and (max-width: 360px)  {
    header .intro-text .intro-lead-in {  font-size: 18px; margin-bottom:0;}
    header .intro-text .intro-heading {  font-size: 20px;}
    header a.sub-phone {display: none;}
    .navbar-brand {  padding: 14px 0 0 15px;   width: 258px;}
    #whatwebuy .nav-tabs>li>a {font-size: 12px;}
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover .whatwebuy-hover-content {top: 25%;}
    #whatwebuy .whatwebuy-item .whatwebuy-link .whatwebuy-hover .whatwebuy-hover-content strong {margin-bottom: 10px; display: block; font-size: 16px;}
    #whatwebuy span {display: none;}
    .webuy, section, #team {padding: 40px 0;}
    #howwepay .col-md-6 {width: 100%; text-align: center !important;}
    .tfoot-tbl {padding: 20px;}
    .bg-blue-dark {height: 515px;}
    #contact .col-sm-5.col-md-6 .col-md-5, #contact .col-sm-5.col-md-6 .col-md-7 {width: 100%; clear: both;}
}
@media only screen and (max-width: 767px) and (min-width: 480px) and  (orientation: landscape)  {
    header .intro-text .intro-lead-in {  font-size: 32px; margin-bottom:0;}
    header .intro-text .intro-heading {  font-size: 36px;}
    header .intro-text {  padding-bottom: 10px;}
    #howwepay .nav-tabs>li>a {  padding: 9px;}
}